@keyframes heartbeat {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform:scale(1);
    }
    
}

.heart {
    color: red;
    animation: heartbeat 1s infinite;
    fill:red;
    opacity:1;
    transition:opacity 500ms;
    
}